<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/main.css}" rel="stylesheet" /> 
    <title>Todos</title>
</head>
<body>
    <div class="flex border-b w-full py-3 px-2 border-gray-800">
        <span class="text-xl font-bold">Todos</span>
    </div>
    <div class="w-full h-full py-4 px-8 mt-8">
        <div class="mb-16 flex flex-col">
            <span class="text-lg font-bold mb-4">Ajouter une Nouvelle Tache</span>
            <form class="flex justify-between" action="#" th:action="@{/}" th:object="${todo}" method="post">
                <input class="w-2/3 border border-black rounded-md px-3 py-1" type="text" th:field="*{title}" />
                <p><input class="btn btn-dark px-2 border border-2 border-black rounded-md font-bold cursor-pointer" type="submit" value="Ajouter" /></p>
            </form>
        </div>
        <div class="flex flex-col gap-2">
            <th:block th:if="${todos.size() > 0}">
                <div th:each="item : ${todos}" class="flex justify-between border border-2 border-black rounded-lg px-4 py-2 transition-all">
                    <div class="flex gap-2 cursor-pointer">
                        <input type="checkbox" class="text-green-600 border-0 rounded-md focus:ring-0" />
                        <span th:text="${item.title}" class=""></span>
                    </div>
                    <div class="flex gap-3">
                        <span class="text-blue-800 text-sm cursor-pointer hover:underline transition-all">Modifier</span>
                        <span class="text-red-800 text-sm cursor-pointer hover:underline transition-all">Supprimer</span>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${todos.empty}">
                <div id="empty-todos-message">Pas encore de tache .</div>
            </th:block>
        </div>
    </div>
</body>
</html>